{% extends '../_layout.twig' %}

{% block body %}
<body class="{{ one.class }}">
<div class="background-image background-image-{{ one.class }}"></div>
{% endblock %}

  {% block hero %}

    <div class="hero {{ one.class }}">

      <div class="hero__bgimage-overlay"></div>

      <div class="hero__shape">

        <div class="container">
          <h1>{{ one.title }}</h1>
          <h3>{{ one.subtitle }}</h3>

        </div>

      </div>

    </div>

  {% endblock %}


